{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {{ super() }}
  <meta name="description" content="iliazeus - main page" />
{% endblock head %}

{% block main %}
  <div id="bio" style="overflow: hidden">
    <p>Hi! My name is Ilia (he/him).</p>
    <p>I write C and C++ (at work), TypeScript, Python, Rust, and blog posts (rarely).</p>
    <p>Avatar made with <a target="_blank" href="https://picrew.me/en/image_maker/644129">a generator by Makowka</a>.</p>
  </div>

  {% for subsection_path in section.subsections %}
    {% set subsection = get_section(path=subsection_path) %}
    {% if subsection.extra.show_on_main | default(value="pages") == "link" %}
      <hgroup>
        <h2><a href="{{ subsection.path }}">{{ subsection.title }}</a></h2>
        <p>{{ subsection.description | default(value="") }}</p>
      </hgroup>
    {% elif subsection.extra.show_on_main | default(value="pages") == "projects" %}
      <hgroup>
        <h2>{{ subsection.title }}</h2>
        <p>{{ subsection.description | default(value="") | safe }}</p>
      </hgroup>
      <div class="projects">
        {% set projects = subsection.pages | filter(attribute="extra.featured") | sort(attribute="extra.featured") %}
        {% for project in projects %}
          <article class="project">
            <h3>
              {% if project.extra.homepage %}
                <a target="_blank" href="{{ project.extra.homepage }}">{{ project.title }}</a>
              {% else %}
                <a href="{{ project.path | safe }}">{{ project.title }}</a>
              {% endif %}
            </h3>
            {{ macros::badges(project=project) }}
            <p>{{ project.description | default(value="") | safe }}</p>
          </article>
        {% endfor %}
      </div>
    {% else %}
      <hgroup>
        <h2>recent {{ subsection.title }} (<a href="{{ subsection.path }}">see&nbsp;all</a>)</h2>
        <p>{{ subsection.description | default(value="") }}</p>
      </hgroup>
      {{ subsection.content | safe }}
      {% for page in subsection.pages | slice(end=5) %}
        <hgroup>
          <h3><a href="{{ page.path }}">{{ page.title }}</a></h3>
          <p>{{ page.description | default(value="") }}</p>
          <ul class="horizontal small">
            <li>{{ page.date }}</li>
            <li>{{ page.extra.lang }}</li>
            {% for link in page.extra.links %}
              <li>
                <a
                  target="_blank"
                  href="{{ link.href }}"
                  {% if link.rel %}rel="{{ link.rel }}"{% endif %}
                >
                  {{ link.text }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </hgroup>
      {% endfor %}
    {% endif %}
  {% endfor %}

  <hgroup>
    <h2>contacts</h2>
    <ul>
      <li>
        fediverse: <a target="_blank" rel="me" href="https://gts.iliazeus.lol/@iliazeus">@iliazeus@gts.iliazeus.lol</a>
      </li>
      <li>github: <a target="_blank" rel="me" href="https://github.com/iliazeus">@iliazeus</a></li>
      <li>
        habr: <a target="_blank" rel="me" href="https://habr.com/users/iliazeus">@iliazeus</a>
      </li>
      <li>
        email: <a target="_blank" rel="me" href="email:iliazeus@proton.me">iliazeus@proton.me</a>
      </li>
      <li>
        <details>
          <summary>PGP key</summary>
          <pre style="font: smaller monospace; user-select: all; border: none !important">
-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEaCY+RBYJKwYBBAHaRw8BAQdA+X1Cmgy69rvacgtN+FEbF+e1tDfE/L77S1pf
BkZAsKi0D0lsaWEgUG96ZG55YWtvdoiTBBMWCgA7FiEEsS4h4TUfBSQ96HSifB70
nBZpz28FAmgmPkQCGwMFCwkIBwICIgIGFQoJCAsCBBYCAwECHgcCF4AACgkQfB70
nBZpz29qnwD+N8aw0JhEi2y8LueD8y8drBNsyX182bKXD/s5pOPdLDIA/2TFGjEa
br2fxsOI74Sp/7YgZLn9Mc/p/4s/G+kUDiwJtCRJbGlhIFBvemRueWFrb3YgPGls
aWF6ZXVzQHByb3Rvbi5tZT6IkwQTFgoAOxYhBLEuIeE1HwUkPeh0onwe9JwWac9v
BQJoJkkzAhsDBQsJCAcCAiICBhUKCQgLAgQWAgMBAh4HAheAAAoJEHwe9JwWac9v
pDsA+gIxtKyEnueWlG5wL6sIfTVlU7oi4Xh2L++CiwNvnvhvAQCR6QjaedqTF/DJ
KYpLHykuJFhPp0NkqFBoCQT/VYxIB7g4BGgmPkQSCisGAQQBl1UBBQEBB0DBy4Es
loHBw1I5aiIDEgj+UtBjknTpXBcnHdw1f/0eYAMBCAeIeAQYFgoAIBYhBLEuIeE1
HwUkPeh0onwe9JwWac9vBQJoJj5EAhsMAAoJEHwe9JwWac9vBvUBAMoSRjt/v4hB
X5iBSl0XkGjJs6k2mivIaKtoCkbSUcXDAP4tz9wcoarsmScPN/wxiiaPNWoqQgeo
0l7Ox5Ps9klOCQ==
=URJN
-----END PGP PUBLIC KEY BLOCK-----
          </pre>
        </details>
      </li>
    </ul>
  </hgroup>
{% endblock main %}
