{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {{ super() }}
  <meta name="description" content="iliazeus - main page" />
{% endblock head %}

{% block main %}
  <div id="bio" style="overflow: hidden">
    <p>Hi! My name is Ilia (he/him).</p>
    <p>I write C and C++ (at work), TypeScript, Python, Rust, and blog posts (rarely).</p>
    <p>Avatar made with <a target="_blank" href="https://picrew.me/en/image_maker/644129">a generator by Makowka</a>.</p>
  </div>

  {% for subsection_path in section.subsections %}
    {% set subsection = get_section(path=subsection_path) %}
    {% if subsection.extra.show_on_main | default(value="pages") == "link" %}
      <hgroup>
        <h2><a href="{{ subsection.path }}">{{ subsection.title }}</a></h2>
        <p>{{ subsection.description | default(value="") }}</p>
      </hgroup>
    {% elif subsection.extra.show_on_main | default(value="pages") == "projects" %}
      <hgroup>
        <h2>{{ subsection.title }}</h2>
        <p>{{ subsection.description | default(value="") | safe }}</p>
      </hgroup>
      <div class="projects">
        {% set projects = subsection.pages | filter(attribute="extra.featured") | sort(attribute="extra.featured") %}
        {% for project in projects %}
          <article class="project">
            <h3>
              {% if project.extra.homepage %}
                <a target="_blank" href="{{ project.extra.homepage }}">{{ project.title }}</a>
              {% else %}
                <a href="{{ project.path | safe }}">{{ project.title }}</a>
              {% endif %}
            </h3>
            {{ macros::badges(project=project) }}
            <p>{{ project.description | default(value="") | safe }}</p>
          </article>
        {% endfor %}
      </div>
    {% else %}
      <hgroup>
        <h2>recent {{ subsection.title }} (<a href="{{ subsection.path }}">see&nbsp;all</a>)</h2>
        <p>{{ subsection.description | default(value="") }}</p>
      </hgroup>
      {{ subsection.content | safe }}
      {% for page in subsection.pages | slice(end=5) %}
        <hgroup>
          <h3><a href="{{ page.path }}">{{ page.title }}</a></h3>
          <p>{{ page.description | default(value="") }}</p>
          <ul class="horizontal small">
            <li>{{ page.date }}</li>
            <li>{{ page.extra.lang }}</li>
            {% for link in page.extra.links %}
              <li>
                <a
                  target="_blank"
                  href="{{ link.href }}"
                  {% if link.rel %}rel="{{ link.rel }}"{% endif %}
                >
                  {{ link.text }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </hgroup>
      {% endfor %}
    {% endif %}
  {% endfor %}

  <hgroup>
    <h2>links</h2>
    <ul>
      <li>github: <a target="_blank" rel="me" href="https://github.com/iliazeus">@iliazeus</a></li>
      <li>
        habr: <a target="_blank" rel="me" href="https://habr.com/users/iliazeus">@iliazeus</a>
      </li>
      <li>
        mastodon: <a target="_blank" rel="me" href="https://lor.sh/@iliazeus">@iliazeus@lor.sh</a>
      </li>
      <li>
        mailto: <a target="_blank" rel="me" href="mailto:iliazeus@proton.me">iliazeus@proton.me</a>
      </li>
    </ul>
  </hgroup>
{% endblock main %}
